.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(40deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: rem(72);
  text-align: center;
  color:  $color-yellow;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);

  @include sp {
    font-size: rem(160);
  }
}

.blur {
  opacity: 0;
  filter: blur(5px);
}

.mouse-stalker {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: $color-white;
  background-color: rgba($color: $color-white, $alpha: 0.2);
  user-select: none;
  font-size: 14px;
  opacity: 0;
  cursor: pointer;

  @include sp {
    position: absolute;
    top: unset;
    left: unset;
    right: 10px;
    bottom: 10px;

    width: 50px;
    height: 50px;
    opacity: 1;
  }
}

.mouse-stalker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}